*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*palette colori*/
:root{
    --primary-color:#eaeaea;
    --secondary-color:#ffffff;
    --tertiary-color:#e9ebeb;
    --quaternary-color:#8edafc;
}

/*utility rules*/
.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
    top:20px;
    left:115px
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-grow{
    flex-grow: 1;
}

.align-center{
    align-items: center;
}

.overflow-y{
    overflow-y: auto;
}

/*background*/
.green-head{
    height: 100px;
    background-color: #009688;
}

.grey-main{
    height: calc(100vh - 100px);
    background-color: #d9dbd4;
}

/*app-window*/

.app-window{
    width: 80%;
    height: calc(100vh - 40px);
}

/*contact side*/
.contact-side{
    width: 40%;
    background-color: var(--secondary-color);
}

.account-bar{
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 2px;
}

.user{
height: 100%;
}

.rounded-frame{
    height: 100%;
}

.rounded-frame img{
    border-radius: 50%;
    height: 100%;
    object-fit: cover;

}

.my-name{
    line-height: 50px;
}

.notify-bar{
    height: 60px;
    background-color: var(--quaternary-color);
}

/*message side*/
.message-side{
    width: 60%;
    background-color: blue;

}