*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Raleway', sans-serif;
}

/*debug*/

.debug{
    top: 0;
    left: 0;
}
/*palette colori*/
:root{
    --primary-color:#eaeaea;
    --secondary-color:#ffffff;
    --tertiary-color:#e9ebeb;
    --quaternary-color:#8edafc;
    --fifth-color:#b1b1b1;
    --sixth-color:#7a7a7a;
    --seventh-color:#fafafa;
    --eighty-color:#bdbdbd;
    --sent-color: #d5f9ba;
    --received-color: #fff;

}

/*utility rules*/
.pos-rel{
    position: relative;
}

.pos-abs{
    position: absolute;
}

.d-flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.justify-center{
    justify-content: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.flex-grow{
    flex-grow: 1;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.overflow-y{
    overflow-y: auto;
}

.fit{
    border-radius: 50%;
    height: 100%;
    object-fit: cover;
}

/*background*/
.green-head{
    min-width: 100%;
    height: 100px;
    background-color: #009688;
}

.grey-main{
    min-width: 100%;
    height: calc(100vh - 100px);
    background-color: #d9dbd4;
}

/******     APP-WINDOW     ******/
.app-window{
    width: calc(100% - 230px);
    min-width: 800px;
    height: calc(100vh - 40px);
    top: 20px;
    left: 115px;
}




/*****   contact side   *****/
.contact-side{
    width: 40%;
    background-color: var(--secondary-color);
}

/*account-bar*/
.account-bar{
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 5px;
}

.user{
    height: 100%;
}

.user-options{
    padding: 0px 20px;
}

.user-options a{
    margin-left: 20px;
}

.user-options-icon{
    color: var(--fifth-color);
}

.rounded-frame{
    height: 100%;
}

/*notify-bar*/
.notify-bar{
    height: 60px;
    background-color: var(--quaternary-color);
}

.notify-bar .rounded-frame{
    height: 60px;
    width: 60px;
}

#notify-bell{
    background-color: var(--secondary-color);
    font-size: 15px;
    border-radius: 50%;
    padding: 10px 7.5px;
    color: var(--quaternary-color);
    object-fit: cover;
}

.notify-text div:first-child{
    font-size: 12px;
}
.notify-text a{
    color:var(--sixth-color);
    font-size: 10px;
}

/*search-bar*/
.search-bar{
    background-color: var(--seventh-color);
    padding: 5px;
}

.search-bar button, .search-bar input{
    height: 30px;
}

.search-bar button{
    width: 40px;
    border: none;
    color: var(--sixth-color);
    background-color: var(--secondary-color);
}

.search-bar input{
    border: none;
    padding-left: 10px;
    margin-left: 1px;
}

/*contacts*/
.contacts{
    height: calc(100% - 150px);
}
.contacts .card{
    height: 80px;
    padding: 10px;
    border-bottom:1px solid var(--primary-color);
}

.card .rounded-frame{
    height: 100%;
}

.card .rounded-frame .fit{
    height: 100%;
    padding: 5px;
}

.card .contact-info{
    margin-left: 10px;
}

.card .contact-info .name{
    font-size: 14px;
}

.card .contact-info .last-message-sent{
    font-size: 12px;
    color: var(--fifth-color);
}

.card .last-access-time{
    top:3px;
    right: 3px;
    font-size: 9px;
    color: var(--fifth-color);
}





/*****   message side   *****/
.message-side{
    width: 60%;
    border-left: 1px solid var(--eighty-color);
}

.message-header{
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 5px;
}

.message-header .last-access-info{
    font-size: 12px;
    color: var(--fifth-color);
}

.message-header .last-message-info{
    font-size: 12px;
    color: var(--fifth-color);
}



/*message main*/
.message-main{
    background-image: url(../img/mine.jpg);
    height: calc(100% - 100px);
    scroll-behavior: smooth;
}

.message-main .main-container{
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.speech-bubble{
    font-size: 12px;
    display: inline-block;
    position: relative;
    width: 40%;
    border-radius: 30px;
    padding: 20px;
    margin:15px 15px 0px 15px;
    text-align: start;
}

.sent{
    text-align: end;
}

.received{
    text-align: start;
}

.sent .speech-bubble{
    background-color: var(--sent-color);
}

.received .speech-bubble{
    background-color: var(--received-color);
}







/*message footer*/
.message-footer{
    height: 50px;
    width: 100%;
    background-color: var(--primary-color);
    padding: 5px;
}

.message-footer a{
    text-decoration: none;
}
.message-footer .box{
    width: 60px;
}

.message-footer .user-options-icon{
    color:var(--sixth-color);
}

.message-footer .message-bar{
    padding-left: 5px;
    height: 80%;
    border: none;
    border-radius: 5px;
}