<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Boolzap</title>
        <link rel="icon" type="image/icon-x" href="./img/favicon.svg" />
        <link rel="stylesheet" href="./css/style.css"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </head>
    <body>
       
        <div id="app">
            <!--container per creare uno sfondo-->
            <div class="container pos-rel">
                <div class="green-head"></div>
                <div class="grey-main"></div>
                

                <!--l'app-window è l'interfaccia per l'utente-->
                <div class="app-window pos-abs d-flex">

                    <!--contact side, la parte di sx-->
                    <div class="contact-side">

                        <!--account-bar-->
                        <div class="account-bar d-flex space-between align-center">
                            <!--parte sx-->
                            <div class="user d-flex align-center">
                                <div class="rounded-frame">
                                    <a href="#">
                                        <img class ="fit" src="./img/avatar_io.jpg" alt="mine"/>
                                    </a>
                                </div>
                                <div class="my-name">Leo</div>
                            </div>
                            <!--parte dx-->
                            <div class="user-options">
                                <a href="#">
                                    <i class="user-options-icon fa-solid fa-circle-notch"></i>
                                </a>
                                <a href="#">
                                    <i class="user-options-icon fa-solid fa-message"></i>
                                </a>
                                <a href="#">
                                    <i class="user-options-icon fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>

                        <!--barra attiva notifiche blu-->
                        <div class="notify-bar d-flex align-center">
                            <div class="rounded-frame d-flex align-center justify-center">
                                <i id="notify-bell" class="fa-solid fa-bell-slash"></i>
                            </div>
                            <div class="notify-text">
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <div>
                                    <a href="#">Attiva notifiche desktop</a>
                                </div>
                            </div>
                        </div>

                        <!--search bar-->
                        <div class="search-bar d-flex">
                            <button type="button"><i class="fa-solid fa-magnifying-glass"></i></button>
                            <input type="text" id="search" class="flex-grow" placeholder="Cerca o inizia una nuova chat" v-model="newSearch" @keyup="searchFilter()" />
                        </div>

                        
                        <!--contacts-->
                        <div class="contacts overflow-y">
                            <!--card-->
                            <div class="cardContainer" v-for="(card, cardIndex) in contacts" >
                                <div class="card d-flex pos-rel"   @click="selectConversation(card, cardIndex)" :class="showConversation(card, cardIndex)" v-if="card.searchVisibility">
                                    <div class="rounded-frame">
                                            <img class="fit" :src="card.avatar" alt="card.avatar" />
                                    </div>
                                    <div class="contact-info flex-grow">
                                        <div class="name" >{{card.name}}</div>
                                        <div class="last-message-sent">{{card.messages[card.messages.length - 1].message}}</div>
                                    </div>
                                    <div class="pos-abs last-access-time"  v-for="singleMessage in card.messages">{{card.messages[card.messages.length - 1].date}}</div>
                                </div>
                            </div>

                        </div>


                    </div>

                    <!--message side, la parte di dx-->
                    <div class="message-side">
                        <!--parte alta-->
                        <div class="message-header d-flex space-between align-center">
                            <div class="user d-flex align-center">
                                <div class="rounded-frame">
                                    <a href="#">
                                        <img class ="fit" :src="contacts[selectedConversation].avatar" :alt="contacts[selectedConversation].avatar" v-if="contacts[selectedConversation].visible"/>
                                    </a>
                                </div>
                                <div class="contact-info flex-grow">
                                    <div class="username" v-if="contacts[selectedConversation].visible">{{contacts[selectedConversation].name}}</div>
                                    <div class="last-message-info" v-if="contacts[selectedConversation].visible">Ultimo accesso oggi alle:&nbsp;{{contacts[selectedConversation].messages[contacts[selectedConversation].messages.length -1].date}}</div>
                                </div>
                            </div>
                            <!--parte dx-->
                            <div class="user-options">
                                <a href="#">
                                    <i class="user-options-icon fa-solid fa-magnifying-glass"></i>
                                </a>
                                <a href="#">
                                    <i class="user-options-icon fa-solid fa-paperclip"></i>
                                </a>
                                <a href="#">
                                    <i class="user-options-icon fa-solid fa-ellipsis-vertical"></i>
                                </a>
                            </div>
                        </div>


                        <!--parte centrale, corpo del messaggio-->

                        <div class="message-main overflow-y">
                            <div class="main-container" v-if="contacts[selectedConversation].visible">

                                <div v-for="singleMessage in contacts[selectedConversation].messages" :class="singleMessage.status">
                                    <span class="speech-bubble pos-rel">
                                        {{singleMessage.message}}
                                        <span class="pos-abs speech-bubble-hour-sent">{{singleMessage.date}}</span>
                                    </span>
                                    
                                </div>

                            </div>


                        </div>

                        <!--parte bassa, input testo utente emoticon e microfono-->
                        <div class="message-footer d-flex space-between align-center">

                            <div class="box text-center">
                                <a href="">
                                    <i class="user-options-icon fa-regular fa-face-smile"></i>
                                </a>
                            </div>



                            <input class="message-bar flex-grow" type="text" placeholder="Scrivi un messaggio" v-model="newMessage" @keyup.enter="addMessage(contacts[selectedConversation].messages)"/>
                            <div class="box text-center">
                                <a href="">
                                    <i class="user-options-icon fa-solid fa-microphone"></i>
                                </a>
                            </div>
                        </div>


                    </div>



                </div>
            </div>

        </div>
        <!--importo luxon-->
        <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
        <!--import cdn VueJs-->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!--import my-script-->
        <script type="text/javascript" src="./js/main.js"></script>
    </body>
</html>